modules = ["python-3.11"]
audio = true
run = "python3 main.py"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "libopus", "libopus.dev", "libsodium", "gh"]


[deployment]
run = ["sh", "-c", "python3 main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 45826818
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
